<div class="container">
    <h1>
        User Todo List
    </h1>
    <form [formGroup]="userFormGroup" novalidate (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="uname">Name</label>
                <input type="text" class="form-control" formControlName="name" id="uname" placeholder="Name" required [ngClass]="{
                    'has-danger': userFormGroup.get('name').invalid && (userFormGroup.get('name').dirty || userFormGroup.get('name').touched),
                    'has-success': userFormGroup.get('name').valid && (userFormGroup.get('name').dirty || userFormGroup.get('name').touched)
                  }">
                <div class="form-control-feedback" *ngIf="userFormGroup.get('name').errors && (userFormGroup.get('name').dirty || userFormGroup.get('name').touched)">
                    <span *ngIf="userFormGroup.get('name').errors.required">Name is required</span>
                    <span *ngIf="userFormGroup.get('name').errors.minlength">Name should contain min 3 chars</span>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="uemail">Email</label>
                <input type="email" class="form-control" id="uemail" formControlName="email" placeholder="Email" required [ngClass]="{
                    'has-danger': userFormGroup.get('email').invalid && (userFormGroup.get('email').dirty ||  userFormGroup.get('email').touched),
                    'has-success': userFormGroup.get('email').valid && (userFormGroup.get('email').dirty ||  userFormGroup.get('email').touched)
                  }">
                <div class="form-control-feedback" *ngIf="userFormGroup.get('email').errors && (userFormGroup.get('email').dirty || userFormGroup.get('email').touched)">
                    <span *ngIf="userFormGroup.get('email').errors.required">Email is required</span>
                    <span *ngIf="userFormGroup.get('email').errors.pattern">Enter valid email address</span>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="uphone">Phone</label>
                <input type="number" class="form-control" id="uphone" formControlName="phone" placeholder="Phone" required [ngClass]="{
                    'has-danger': userFormGroup.get('phone').invalid && (userFormGroup.get('phone').dirty || userFormGroup.get('phone').touched),
                    'has-success': userFormGroup.get('phone').valid && (userFormGroup.get('phone').dirty || userFormGroup.get('phone').touched)
                  }">
                <div class="form-control-feedback" *ngIf="userFormGroup.get('phone').errors && (userFormGroup.get('phone').dirty || userFormGroup.get('phone').touched)">
                    <span *ngIf="userFormGroup.get('phone').errors.required">Phone is required</span>
                    <span *ngIf="userFormGroup.get('phone').errors.min || userFormGroup.get('phone').errors.max">Phone should contain 10 numbers</span>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">{{isUpdate?'Save':'Add User'}}</button>
        <button type="reset" class="btn btn-default" *ngIf="isUpdate" (click)="onReset()">Cancel</button>
    </form>
    <div class="userListWpr" *ngIf="userList.length>0; else nodata" style="margin-top:20px;">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of userList; let i= index;">
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                    <td>
                        <a href="javascript:void(0);" (click)="updateUser(i)">Edit</a>
                        <a href="javascript:void(0);" (click)="deleteUser(i)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #nodata>
        <h4 style="text-align:center;">User data not found</h4>
    </ng-template>
</div>